@section header {
    <title>صفه ای یافت نشد</title>
}
<h3 class="uk-text-secondary uk-text-center uk-margin-remove-bottom">
   صفه ی مورد نظر وجود ندارد !
</h3>
<img
    src="/images/NotFound.svg"
    alt="Not Found Image"
    id="image-404"
    class="uk-margin-remove-bottom"
/>